<!DOCTYPE html>
<html>
    <head>
        <title>Blogz</title>
        <style type="text/css">
            .error {
                color: red;
            }
        </style>
    </head>
    <body>
        
        <h3>
            <a href="/">Home</a>  |
        
            <a href="/blog">Blog Entries</a> |

            <a href = '/addpost'>Add A Post</a> |
         
            <a href = '/login'>login</a> |
            
            <a href = '/logout'>logout</a> 

            
        </h3>
        {% if 'email' in session %}
            <h3 style="color:blue">Current User: {{session['email']}}</h3>

        {% endif %}        
        
        
        
        
        {% with messages = get_flashed_messages(with_categories=True) %}
            <ul>   
            {% for category, message in messages %}
                <li style="color:red"class="{{category}}">{{message}}</li>
            {% endfor %}
        {% endwith %}
        
        {% block content %}
        {% endblock %}

    </body>
</html>
