<!DOCTYPE html>
<html>
    <head>
        <title>Blogz</title>
        <style type="text/css">
            .error {
                color: red;
            }
        </style>
    </head>
    <body>
        
        <h3>
            <a href="/">Home</a>  |
        
            <a href="/blog">Blog Entries</a> |

            <a href = '/addpost'>Add A Post</a> |
         
            <a href = '/login'>login</a> |
            
            <a href = '/logout'>logout</a> |

            <a href = '/singleuser'>{{User}}</a>
        </h3>
        
        
        {% block content %}
        {% endblock %}

    </body>
</html>
