{% extends "base.html" %}
{% block content %}
    

    
        <h2>All Blogs</h2>
        
        
        {%if blogs|length == 0%}
        <p>No Blogs yet</p>

        {%else%}
        <ul>
          {% for blog in blogs %}
        
      
            <span action="POST" method="post" value={{blog.id}}>
                <li><h2><a href="/post?id={{blog.id}}"> {{blog.title}}</a></h2>
                <h4>{{blog.body}}</h4></span>
                <h5>Written By <a href="/singleuser?id={{blog.writer_id}}">{{blog.writer.email}}</a></h5></li>
                
        
            </form>
        
          {% endfor %}
        {% endif %}
        </ul>
            
        
{% endblock %}


